body {
display: flex;
font-family: Arial, Helvetica, sans-serif;
}

body #root {
margin: auto;
}

body #root form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body #root form label {
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
}

body #root form #searchText {
    height: 30px;
    padding: 0 5px;
    font-size: 20px;
}

body #root form .button-submit {
    width: 200px;
    border: 2px solid #d15e00;
    background: #fff;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px;
    transition: .3s;
}

body #root form .button-submit:hover {
    background: #d15e00;
    color: #fff;
}

body #root form .button-submit:active {
    transform: scale(.9, .9);
}

body #root .users a {
    display: flex;
    align-items: center;
    background: #e3e3e3;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 20px 0;
    transition: .5s;
}

body #root .users a:hover {
    transform: scale(1.1, 1.1);
    color: #313131;
}

body #root .users a img {
    border-radius: 50%;
}

body #root .users a p {
    color: #979797;
    margin: 0 30px;
    font-size: 20px;
    transition: .5s;
}

body #root .users a:hover p {
    color: rgb(71, 71, 71);
    font-weight: 700;

}

